* {
    margin: 0;
    padding: 0;
  
    color: white;
  }
  
  @font-face {
    font-family: panchangBold;
    src: url(../css/Panchang_Complete/Fonts/OTF/Panchang-Bold.otf)
  }
  @font-face {
    font-family: panchangRegular;
    src: url(../css/Panchang_Complete/Fonts/OTF/Panchang-Regular.otf)
  }
  
  img{
    width: 50;
  }
  /* this is my header section styles  */
  header{
    width: 100%;
    background: #000;
  }
  header .header-inner{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   header .header-inner img{
    width:15% ;
   }
    header .header-inner .join-text{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    header .header-inner .join-text span{
    background: #000;
    z-index: 1;
    font-size: 20px;
    font-family: panchangBold;
    }
    header .header-inner .join-text img{
      width: 20%;
      margin-left: -7%;
      z-index: 0;
    }
  /* my header section styles end here  */
  /*  this is my hero section styles  */
  .hero{
    padding-top: 5%;
    padding-bottom: 15%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    gap: 10%;
    font-family: panchangRegular;
    font-size: x-large;
    display: grid;
    color: aliceblue;
  }
  .hero span{
    color: #000;
    background-image: url(../images/img-bg.png);
    background-position: center center;
    background-size: cover;
    gap: 30%;
    font-size: 80%;
    font-weight: 900;
  }
  .hero.hero-inner div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    gap: 100%;
    background-color: #000;
    font-size: large;
  }
  .hero.hero h1{
    font-size: 50%;
  }
  .hero .hero-inner h2{
    font-size:10% ;
    padding-top: 5%;
    text-align: center;
  }
  .hero .hero-inner h4{
  font-size: 40%;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 50px;
  }
  /* this is my moving line styles  */
  .moving-line{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    margin:0 auto;
    width: 4px;
    height: 100px;
    margin-top: 25px;
    background: linear-gradient(to bottom, rgb(224, 224, 224), black);
    /* colortransitionfromwhitetoblack  */
    transform: translate(-50, -50%);
    animation: moveUpDown 2s infinite ease-in-out;
    cursor: pointer;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
  }
  /* moving the line up and down  */
  @keyframes moveUpDown{
    0%, 100%{
      transform: translate(-50%,-50%);
    }
    50%{
      transform: translate(-50%,-45%);
    }
  }
  
  /* my hero section styles ends here  */
  /* this is my about section styles  */
  .about{
    color: white;
    background: #000;
    display: grid;
    text-align: center;
    height: 40vh;
    gap: 10%;
  
  }
  .about h2{
    text-align: center;
    font-family: panchangBold;
    font-size: large;
  }
  .about h2 span{
    text-align: center;
    color: black;
    background-image: url(../images/img-bg.png);
    text-align: center;
    font-size: large;
    font-family: panchangBold;
     background-position: center center;
    background-size: cover;
    width: 10%;
    
  }
  .about h4{
    font-size: 100%;
    font-weight: lighter;
    font-family: panchangRegular;
    text-align: center;
    
    }
  
  .about .about-inner{
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    text-align: center;
     gap: 0%;
    font-family: panchangRegular;
    margin-bottom: 60%;
  }
  .about .about-inner p{
  font-weight: 300;
  font-family: panchangRegular;
  font-size: small
  }
 
  /* my about section ends here  */
  /* this is my video section styles  */
    .video{
      background-color: brown;
      padding: 20%;
    }
  /* my video section  styles end here  */
  /* this is my fifth section styles  */
  .fifth {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  padding: 5% 10% 10% 10%;
  font-family: panchangRegular;
  }
  
  
  .fifth .fifth-inner p{
    text-align: center;
   color: #000;
    padding: 2% 20%;
    font-weight: lighter;
    font-size: medium;
  
  }
  .fifth.fifth-inner.join-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .fifth .fifth-inner .join-text span{
   background: #ffffff;
   z-index: 1;
   font-size: small;
   color: #000;
   margin-left: 15%;
   margin-bottom: 20%;
    font-family: panchangBold;
  }
  .fifth .fifth-inner .join-text img{
  width: 23%;
  margin-left: -0%;
  z-index: 0;
  margin-bottom: -1%;
  }
  /* my fifth section styles  end here  */
  /* this is my sixth section styles  */
  .sixth .images{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: #000;
    padding-top: 10%;
  }
  .sixth  .images .sixth-inner {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
  .sixth .images .sixth-inner img{
  width: 100%;
  height: auto;
  }
  @media(min-width:786px){
    #sixth .images{
      flex-wrap: wrap;
      overflow: visible;
    }
    #sixth  .images .sixth-inner .img{
      flex: 0 0 25%;
    }
    
  
  
  }
  /* my sixth section styles ends here  */
  
  /* this is my seventh section styles  */
  .seventh{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
  background-color: #000;
  padding: 5%;
  }
  .seventh .seventhcards{
    display: flex;
     overflow-x: auto;
    scroll-snap-type: x mandatory;
   
  }
  .seventh  .join-text h1{
    background-image: url(../images/img-bg.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: panchangBold;
    font-size: large;
  }
  
  .seventh .seventhcards .seventhcard{
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
  .seventh .seventcards .seventhcard img{
    width: 100;
    height: auto;
  }
  .seventh .seventhcards .seventhcard p span{
    background: red;
  }
  
  
  
  /* my seventh section styles end here  */
  /* this is my eighth section styles  */
  .eighth .eighth-inner{
   display: flex; 
   overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 5%;
    
    
  }
  .eighth .eighth-inner .card{
     flex: 0 0 100%;
    scroll-snap-align: center;
  }
  .eighth .eighth-inner .card img{
    width: 100%;
    height: auto;
  }
  @media(min-width:768px){
    #eighth{
      flex-wrap: wrap;
      overflow: visible;
    }
    #eighth .eighth-inner{
      flex: 0 0 25%;
  
    }
  }
  /* my eighth section styles end here  */
  
  /* this is my nineth section styles  */
   .nineth{
    display: grid;
    justify-content: center;
    align-content: center;
   background: #ffffff;
    padding: 5%;
    padding-bottom: 0%;
    height: 40%;
   
  }
  .nineth .nineth-inner p{
    text-align: center;
    color: red;
    background-color: #ffffff;
    font-weight: 200;
    font-family: panchangRegular;
    font-size: 35%;
    margin-bottom: 10%;
    gap: 2%;
  
  }
  
  .nineth  .nineth-inner span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: panchangBold;
    background-image: url(../images/img-bg.png);
    background-position: center center;
    background-size: cover;
   width: 50%;
    padding: 5%;
    margin-left: 20%;
    font-size: larger;
  }
  .nineth .nineth-inner .form{
    margin-right: 25%;
    justify-self: center center;
    width: 60%;
    margin-bottom: 20%;
    color: #000;
  }
  .nineth .nineth-inner .form .InputEmail{
    width:100% ;
    max-width: 650px;
    padding: 30% ;
  background-color: grey;
    border: none;
  
  }
  .nineth .nineth-inner .join-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
    margin-left: 30%;
  
    
  }
  .nineth .nineth-inner .join-text h1{
   z-index: 1;
    font-size: 100%;
    font-family: panchangBold;
    color: #000;
     text-align: center;
     margin-left: 100%;
     background: #ffffff;
    
  }
  .nineth .nineth-inner .join-text img{
    width: 20%;
    z-index: 0;
    margin-right: 30%;
  }
  /* my nineth section ends here  */
  /* this is my tenth section styles */
   .tenth{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 5%;
    padding-top: 0%;
    flex-wrap: wrap;
    overflow: visible;
  }
  .tenth  .tenthimage h4{
    background-image: url(../images/img-bg.png);
    color: black;
    background-position: center center;
    background-size: cover;
    font-family: panchangBold;
    padding:3%; 
    width: 60%;
    font-size: larger;
    margin-left: 20%;
    text-align: center; 
  }
  .tenth-inner .tenthcards{
   display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-content: center;
  margin-top:25px ;
  margin-bottom: 25px;
  column-gap: 80%;
  scroll-snap-align: x mandatory;
  overflow-x: auto;
  }
  .tenth-inner .tenthcards p{
    color: red;
    text-align: center;
    font-size: large;
    margin-left: 50%;
  }
  .tenth-inner .tenthcards h3{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-left: 50%;
  }
  
  .tenth .tenth-inner .tenthcards .tenthcard{
    display: grid;
    flex: 0% 0% 100%;
    scroll-snap-align:center center;
    margin-left: 20%;
  }
  
  .tenth .tenth-inner .tenthcards .tenthcard img{
    width: 300%;
    height: auto;
   
    
  
  }
  /* my tenth section styles end here  */
  /* this is my footer section styles  */
  .footer{
    background-image: url(../images/footer-bg.png);
    background-position:center center ;
    background-size: cover;
   height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     padding:5%; 
     gap: 25%;
  }
  .footer-inner{
   display: flex;
    justify-content: space-between;
    align-items: center;
       
  }
  .footer .footer-inner img{
    width: 30;
    align-items: left;
  }
  .footer .logo-text p{
    font-family: panchangRegular;
    text-align: right; 
    color: black;
  }
  
  /* my footer section styles end here  */
  
 /* this is min-width:1200px  responsive styles  */
   @media(min-width:1200px){
    header .header-inner .join-text img{
width: 10%;
    }
    header .header-inner img{
      width: 5%;
    }
  
    .about{
      display: grid;
      align-items: center;
      gap:3%;
    }
    .about h2{
      font-weight: bold;
      font-size: large;
      font-family: panchangBold;
    }
    .about h4{
      font-size: medium;
      font-weight: lighter;
      font-family: panchangRegular;
    }
  
    .about .about-inner{
      margin-top: 0%; 
      gap: 5%;
      font-size: smaller;
      font-family: panchangRegular;
    }
    .about .about-inner p{
      font-weight: lighter;
      font-size: smaller;
      text-align: center;
      font-family: panchangRegular;
    
    }
    .fifth{
      display: grid;
      align-items: center;
    }
    .fifth .fifth-inner .join-text{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 40%;
    }
    .fifth .fifth-inner .join-text span{
      z-index: 1;
      font-size: 20px;
      font-weight: bold;
      font-family: panchangBold;
      background: white;
    }
    .fifth .fifth-inner .join-text img{
      width: 10%;
      margin-left: -4%;
      z-index: 0;
      margin-bottom: 20%;
    }
    .sixth{
      display: flex;
      align-items: center;
      gap: none;
      justify-content: center;
    
    }
    .sixth .images .sixth-inner{
      display: flex;
      align-items: center;
      justify-content: center;
     gap: none;
    }
    .sixth .images .sixth-inner img{
  width: 25%;
    }
    .seventh{
      display: grid;
      align-items: center;
      gap: 2%;
      height: 90vh;
      width: 100%;
    }
    .seventh .join-text h1{
      color: #000;
    }
    .seventh .seventhcards{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20%;
    }
    .seventh .seventhcards .seventhcard{
      gap: 2%;
      margin-bottom: 10%;
    }
    .seventh .seventhcards .seventhcard h2{
      font-family: panchangBold;
      font-size: medium;
    }
    
    .seventh .seventhcards .seventhcard p{
      font-size: small;
      font-family: panchangRegular;
    }
    .eighth{
      display: flex;
      align-items: center;
      gap: none;
      justify-content: center;
      height: 100vh;
    
    }
    .eighth .eighth-inner .card{
      display: flex;
      align-items: center;
      justify-content: center;
     gap: none;
    }
    .eighth .eighth-inner .card img{
  width: 25%;
    }
    .nineth{
      display: grid;
      align-items: center;
      justify-content:  center;
      gap: 3%;
      height: 90vh;
      width:50%;
     
    }
    .nineth .nineth-inner span{
      font-size:x-large ;
      font-family: panchangBold;
      justify-self: center;
      margin-left: 100%;
      
    }
    .nineth .nineth-inner p{
      font-size: x-small;
      font-family: panchangRegular;
      margin-left: 70%;
    text-align: center;
      
    }
    .nineth .form{
      margin-left: 60%;
    }
    .nineth .nineth-inner .join-text{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 30%;
    }
    .nineth .nineth-inner .join-text h1{
      background-color:white;
      z-index: 1;
      font-size: medium;
    }
    .nineth .nineth-inner .join-text img{
      width: 15%;
      z-index: 0;
      margin-left: -3%;
    }
    .tenth{
      display: grid;
      align-items: center;
      gap: 10%;
    
    }
    .tenth .tenth-inner .tenthcards{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3%;
    }
    .footer{
      background-color: none;
      background: url(../images/footer-bg.png);
    background-position: center center;
    background-size: cover cover;
   width: 90%;
   height: 30vh;
    }
   .footer .footer-inner div img{
   padding-right: 700px;
   }
   .footer .logo-text p{
  margin-right: 60%;
  font-size: medium;
    font-family: panchangRegular;
   }
  }
  
 
  